*{
    margin:0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    font-family: "Times New Roman", Times, serif;

}

.bgpri{
    background-color: #b49045;
}

.bgsec{
    background-color:  #d1aa5e;
}

.menu{
    height: 95vh;  
    overflow-y: scroll
}

.cabecalho{
    height: 5vh; 
    font-family: "Lucida Console", Monaco, monospace; 
}

.zoom {
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
}

.card{
    padding: 5px;
}

.botaocard{

}

#botaoexpresso{

}

.pdoaside{
    
}
.ICON{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top:10px;
}
.Botaocafes{
   width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top:10px;
    border-radius: 10px;
}
.Botaosobremesa{
   width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top:10px;
}
