*{
    margin:0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
}

.bgpri{
    background-color: #b49045;
}

.bgsec{
    background-color:  #d1aa5e;
}

.menu{
    height: 95vh;  
    overflow-y: scroll
}

.cabecalho{
    height: 5vh; 
    font-family: "Lucida Console", Monaco, monospace; 
}

.zoom {
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
}

.card{
    padding: 5px;
}

.botaocard{
    background-color:  #d1aa5e;
    border-color:  #44381f;
    color:  #44381f;
}

.botaocard:hover{
    background-color:  #886f3c;
    border-color:  #cfb16f;
    color:  #cfb16f;
}

.botaoexpresso{

}

.pdoaside{
    
}

.ICON{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top:10px;
 

}

.Botaocafes{
    margin:10px;
    width: 100px;
    border-radius: 10px;
    background-color: #b49045;
    border-color:  #44381f;
    color:  #44381f;
}

.Botaosobremesa{
    margin:10px;
    width: 100px;
    border-radius: 10px;
    background-color: #b49045;
    border-color:  #44381f;
    color:  #44381f;
}

.Botaocafes:hover{
    margin:10px;
    width: 100px;
    border-radius: 10px;
    background-color:  #886f3c;
    border-color:  #cfb16f;
    color:  #cfb16f;
}

.Botaosobremesa:hover{
    margin:10px;
    width: 100px;
    border-radius: 10px;
    background-color:  #886f3c;
    border-color:  #cfb16f;
    color:  #cfb16f;
}

.Partebranca{
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.card{
    background-color: #d4bc8d;
}

.btpedido{
   margin: 10px;
   background-color: #139244;
   color: #093d1d;
   border-color: #093d1d;
}

.btpedido:hover{
   margin: 10px;
   background-color: #097c35;
   color: #3ada77;
   border-color: #3ada77;
}

a{
    color: black;
    text-decoration: none;
}
